# IntelliJ project files
.idea/

# Python bytecode
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
venv/
.venv/

# Credentials / Secrets
google_creds.json
tsi_creds.json
wu_api_key.json
creds/*.json
hot_durham_wu_map/backend/wu_api_key.json

# Streamlit's upload cache (just in case)
.streamlit/

# Output files
*.zip
*.log

# Node modules
node_modules/

# Ignore Java archives and BFG tool
*.jar
bfg.jar
