############################################################
# Minimal dbt dependency set (separate from dev/test deps) #
# Isolated to prevent heavy resolver backtracking when     #
# installing lint/test tooling that does not need dbt.     #
############################################################

dbt-bigquery==1.10.11
