<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hotdurham.testsensor.automation</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/alainsoto/IdeaProjects/Hot Durham/.venv/bin/python</string>
        <string>/Users/alainsoto/IdeaProjects/Hot Durham/src/automation/test_sensor_manager.py</string>
        <string>start</string>
        <string>--foreground</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/alainsoto/IdeaProjects/Hot Durham</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/alainsoto/IdeaProjects/Hot Durham/logs/test_sensor_launchd.out</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/alainsoto/IdeaProjects/Hot Durham/logs/test_sensor_launchd.err</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>